@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Pretendard', sans-serif;
  margin: 0;
  padding: 80px 100px;
  line-height: 1.6;
  color: #111;
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
